* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.box {
  width: 300px;
  height: 300px;
  background-color: orangered;
  color: #fff;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* NOTE: we can do all with ONE property */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: rainbow 2s ease-in-out forwards, spin 2s forwards, move 2s forwards;
}

/* we can basically specify points/steps in the animation with @keyframes & name 'identifier' */
@keyframes spin {
  /* the style will change during each steps by using the keywords "from" and "to" 
  (which represents 0% (start) and 100% (complete): start & end) */
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  from {
    background-color: pink;
  }

  to {
    background-color: cyan;
  }
}

/* By using percent, you can add as many style changes as you like. */
@keyframes rainbow {
  0% {
    background-color: red;
  }

  20% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }

  100% {
    background-color: violet;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(500px);
  }

  75% {
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0);
    background-color: indigo;
  }
}

/* loader */
.spinner {
  width: 200px;
  height: 200px;
  border: 6px solid #cfd8dc;
  border-top-color: #3f51b5;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #03a9f4;
  animation: bounce 1s infinite;
}

.loader span:nth-child(1) {
  animation: bounce 1s infinite ease-in-out;
}

.loader span:nth-child(2) {
  animation: bounce 1s 0.333s infinite ease-in-out;
}

.loader span:nth-child(3) {
  animation: bounce 1s 0.666s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }

  30% {
    transform: translateY(-20px) scale(1.2);
  }

  /* 100% {
    transform: translateY(0);
  } */
  75% {
    transform: translateY(0) translateY(0) scale(1);
  }
}
