* {
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 233, 255);
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  color: rgb(44, 44, 44);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h1 {
  text-align: center;
  color: rgb(83, 49, 156);
}

.container {
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  border-radius: 1rem;
  padding: 0 3.5rem 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 70vh; */
  overflow: hidden;
  position: relative;
}

.tabs {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200, 175, 255);
  /* border: 1px solid red; */
  /* border-bottom: 3px solid blue; */

  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.tabs p {
  padding: 8px;
}

.tabs p:hover {
  cursor: pointer;
  color: rgb(83, 49, 156);
}

.tabs p.active {
  color: rgb(83, 49, 156);
  /* border-bottom: 3px solid rgb(83, 49, 156);
  padding-bottom: 38px;
  z-index: 1; */
  position: relative;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(231, 231, 231);
  position: absolute;
  top: 100px;
}

/* .underline {
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: purple;
  position: absolute;
  left: 0;
  bottom: 0;
} */

/* pseudo element */
.tabs .active::before {
  content: "";
  width: 200%;
  height: 4px;
  background-color: rgb(83, 49, 156);
  position: absolute;
  bottom: -33px;
  left: -50%;
  z-index: 2;
  border-radius: 10px;
}

.toggle-wrapper {
  margin-top: 2rem;
  display: flex;
  /* border: 1px solid red; */

  align-items: center;
}

.toggle-wrapper img {
  height: 50px;
  margin: 0 1rem;
}

.toggle {
  background-color: rgb(83, 49, 156);
  height: 2rem;
  width: 8.7rem;
  border-radius: 20px;
  padding: 0 4px 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle span:first-of-type {
  color: #fff;
}

.toggle span:last-of-type {
  background-color: #fff;
  color: rgb(83, 49, 156);
  padding: 4px 16px;
  border-radius: 20px;
}
